<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PAPAYON</title>
</head>
    <header class="">
        <!-- Place holder for logo -->
        <img>
        <h2 class="text-5xl text-center pt-12">PAPAYON</h2>
    </header>
<body>
    <nav>
        <div>
            <h2>PAPAYON</h2>
            <div>
                Welcome, name here
            </div>
           <li>
                <a>Home</a>
                <a>????</a>
           </li>
        </div>
    </nav>

    <div class="text-center">
        <h2 class="text-2xl">Welcome to Papayon!</h2>
    </div>
    <div>
        render necessary handlebar here here
    </div>
    
</body>
</html>