<div class=" text-[#FF7D7D] bg-[#F8FFDB] ">
    <div class="bg-[#F8FFDB] text-center p-10">
        <h2 class="p-6 text-6xl text-[#FF7D7D] text-2xl">Your Pizza Order</h2>
    </div>

    <div>
        <img src="" alt="">
        <h2 class="text-4xl rounded-full text-center">PIZZA PLACE PLACER</h2>
    </div>

    <!-- Ingredients -->
    <div class="m-4 text-center">
        <div>

        </div>
        <!-- Cheese -->
        <div class="p-4 text-2xl m-4 text-center">
            <a>Cheese</a>
            <a>Cheese</a>
            <a>Cheese</a>
            <a>Cheese</a>
        </div>

       <!-- Sauce -->
        <div class="p-4 text-2xl m-4 text-center">
            <a>Sauce</a>
            <a>Sauce</a>
            <a>Sauce</a>
            <a>Sauce</a>
        </div>

        <!-- Topppings -->
        <div class="p-4 mb-6 text-center text-2xl">
            <a>Topping</a>
            <a>Topping</a>
            <a>Topping</a>
            <a>Topping</a>
        </div>
         
    </div>
        <div class="mt-4 text-center text-3xl">
            <button class="text-dark hover:bg-green-800 text-2xl rounded bg-[#FF7D7D] mb-10 p-3">Proceed to Checkout</button>
        </div>
</div>
