
    <div class="text-center p-10">
        <h2 class="text-2xl">Pizza Order</h2>
    </div>

    <div>
        <img src="" alt="">
        <h2 class="rounded-full text-center">PIZZA PLACE PLACER</h2>
    </div>

    <!-- Ingredients -->
    <div class="">
        <div>

        </div>
        <!-- Cheese -->
        <div class="">
            <a>Cheese</a>
            <a>Cheese</a>
            <a>Cheese</a>
            <a>Cheese</a>
        </div>

       <!-- Sauce -->
        <div>
            <a>Sauce</a>
            <a>Sauce</a>
            <a>Sauce</a>
            <a>Sauce</a>
        </div>

        <!-- Topppings -->
        <div>
            <a>Topping</a>
            <a>Topping</a>
            <a>Topping</a>
            <a>Topping</a>
        </div>
         
    </div>
        <div class="text-center">
            <button class="bg-black text-white rounded mb-10 p-3">Proceed to Checkout</button>
        </div>

