<div class=" text-[#FF7D7D] bg-[#F8FFDB] ">
    <div class="bg-[#F8FFDB] text-center p-10">
        <h2 class="p-6 text-6xl text-[#FF7D7D] text-2xl">Your Pizza Order</h2>
    </div>

    <div>
        <img src="" alt="">
        <h2 class="text-4xl rounded-full text-center">Please Choose your pizza 🍕</h2>
    </div>

    <!-- Ingredients -->
<div class="bg-[#f8ffdb]">
{{#each pizzas as |pizza|}}
        <div class="bg-[#F8FFDB] flex justify-center p-4 text-2xl m-4 text-center rounded">
           <div class="bg-[#F8FFDB] w-2/5 input-group">
  <div class="bg-[#ff6464] input-group-text">
    <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
  </div>
  <input value="{{pizza.pizza_name}}         ${{pizza.price}}" type="text" class="bg-green-300 text-3xl form-control" aria-label="Text input with radio button"></input>
</div>
        </div>
        {{/each}}
   </div>   
   <a href="/checkout"> 
        <div class="bg-[#F8FFDB] text-center text-3xl">
            <button class="text-dark hover:bg-green-800 text-2xl rounded bg-[#FF7D7D] mb-10 p-3">Proceed to Checkout</button>
        </div>
        </a> 
</div>
