<div class=" text-[#FF7D7D] bg-[#F8FFDB] ">
    <div class="bg-[#F8FFDB] text-center p-10">
        <h2 class="p-6 text-6xl text-[#FF7D7D] text-2xl">Please Confirm Order</h2>
    </div>

    <div>
        <img src="" alt="">
        <h2 class="text-9xl rounded-full text-center">🍕</h2>
    </div>

    <!-- Ingredients -->
    <div class="m-4 text-center">
        <div>

        </div>
        <!-- Address -->
        <div class="p-4 text-2xl m-4 text-center">
            <a>User Chosen Pizza</a>


        </div>
                 <div class="p-4 mb-6 text-center text-4xl">
            <h2>Confirm Address:</h2>
        <p>{{address}}</p>
        </div>
                         <div class="p-4 mb-6 text-center text-4xl">
            <h2>Billing Information:</h2>
                <hr class="mb-4">
                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="debit">Debit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="paypal">PayPal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback"> Name on card is required </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback"> Credit card number is required </div>
                    </div>
                </div>
                <div class="justify-center row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                        <div class="invalid-feedback"> Expiration date required </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback"> Security code required </div>
                    </div>
                </div>
                <hr class="mb-4">
            </form>
        </div>
        </div>
    </div>
        <div class="mt-4 text-center text-3xl">
            <button class="text-dark hover:bg-green-800 text-2xl rounded bg-[#FF7D7D] mb-10 p-3">Submit your Order</button>
        </div>
</div>
