<div class=" text-[#FF7D7D] bg-[#F8FFDB] ">
    <div class="bg-[#F8FFDB] text-center p-10">
        <h2 class="p-6 text-6xl text-[#FF7D7D] text-2xl">Please Confirm Order</h2>
    </div>

    <div>
        <img src="" alt="">
        <h2 class="text-4xl rounded-full text-center">PIZZA PLACE PLACER</h2>
    </div>

    <!-- Ingredients -->
    <div class="m-4 text-center">
        <div>

        </div>
        <!-- Address -->
        <div class="p-4 text-2xl m-4 text-center">
            <a>User Chosen Pizza</a>


        </div>
                 <div class="p-4 mb-6 text-center text-4xl">
            <h2>Confirm Address:</h2>
        <p>User Address Here</p>
        </div>
                         <div class="p-4 mb-6 text-center text-4xl">
            <h2>Billing Information:</h2>
        <p>User Billing information here</p>
        </div>
    </div>
        <div class="mt-4 text-center text-3xl">
            <button class="text-dark hover:bg-green-800 text-2xl rounded bg-[#FF7D7D] mb-10 p-3">Submit your Order</button>
        </div>
</div>
