<div class="mid-body">
    <div class="text-center">
        <h2 class="gap-10 p-4 text-4xl bg-[#F8FFDB] text-[#FF7D7D]">Welcome to Papayón!</h2>
    </div>

    <!-- Button -->
    <div class="flex justify-center gap-14 p-20">
        <!-- Button #1 -->
        <button class="hover:bg-[#b3ffae] p-20 bg-[#ff6464] rounded">
            <h3 class="text-3xl">Create Account</h3>
        </button>

        <!-- Button #2 -->
        <button class="hover:bg-[#b3ffae] p-20 bg-[#ff6464] rounded">
            <h3 class="text-3xl">Log In</h3>
        </button>
        <button class="hover:bg-[#b3ffae] p-20 bg-[#ff6464] rounded">
            <h3 class="text-3xl">Order Some 'Za</h3>
        </button>
    </div>
</div>