<div class="mid-body">

    <!-- Button -->
    <div class="flex justify-center gap-14 p-20">
           {{#if logged_in}}
           <a href="/building">
            <button class="transition delay-50 duration-200 ease-in-out hover:bg-[#b3ffae] p-20 bg-[#ff6464] rounded">
            <h3 class="text-3xl">Order Some 'Za</h3>
        </button>
        </a>
              {{else}}
        <!-- Button #1 -->
        <a href="/login">
        <button class="transition delay-50 duration-200 ease-in-out hover:bg-[#b3ffae] p-20 bg-[#ff6464] rounded">
            <h3 class="text-3xl">Create Account</h3>
        </button>
        </a>

        <!-- Button #2 -->
       <a href="/login">
        <button class="transition delay-50 duration-200 ease-in-out hover:bg-[#b3ffae] p-20 bg-[#ff6464] rounded">
             <h3 class="text-3xl">Log In</h3>
        </button>
        </a>
        {{/if}}
    </div>
</div>