<div class="flex text-[#ff6464] row bg-[#F8FFDB]">
  <div  class=" p-6 col-md-6">
    <h2 class="text-3xl p-4">Login</h2>

    <form class="bg-[#b3ffae] shadow-md rounded px-8 pt-6 pb-8 mb-4 w-3/5 form login-form">
      <div class="pl-4 text-2xl form-group">
        <label class="pr-5" for="email-login">email:</label>
        <input class="pr-10 rounded form-input" type="text" id="email-login" />
      </div>
      <div class="p-3 text-2xl form-group">
        <label for="password-login">password:</label>
        <input class="pr-10 rounded form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="pt-6 bg-[#FF7D7D] hover:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="p-6 col-md-6">
    <h2 class="text-3xl p-4">Signup</h2>

    <form class="bg-[#b3ffae] shadow-md rounded px-8 pt-6 pb-8 mb-4 w-3/5 form signup-form">
      <div class="pl-4 text-2xl form-group">
        <label  class="pr-5" for="name-signup">name:</label>
        <input class="rounded form-input" type="text" id="name-signup" />
      </div>
      <div class="py-3 pl-4 text-2xl form-group">
        <label  class="pr-5" for="email-signup">email:</label>
        <input class="rounded form-input" type="text" id="email-signup" />
      </div>
      <div class="pb-4 pl-4 text-2xl form-group">
        <label for="password-signup">password:</label>
        <input class=" rounded form-input" type="password" id="password-signup" />
      </div>
      <div class="pl-4 text-2xl form-group">
        <button class="pt-6 bg-[#FF7D7D] hover:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>