
    <div>
        <h2 class="text-xl text-center py-10">Great to see you again!</h2>
    </div>

    <div class="border-2 border-black rounded mx-96">
        <!-- Login Container -->
        <div class="pl-96 pt-16">
            <h2 class="p-2 text-xl">Username:</h2>
            <input class="w-96 pl-5 border-black border-2 rounded" type="text" placeholder="Enter your username here">
        </div>

        <div class="pl-96 py-16">
            <h2 class="p-2 text-xl">Password:</h2>
            <input class="w-96 pl-5 border-black border-2 rounded" type="text" placeholder="Enter your password here">
        </div>

        <div class="text-center">
            <button class="bg-black text-white rounded mb-10 p-3">LOGIN</button>
        </div>
    </div>
