
    <main>
        <!-- Tabs -->
        <div>
            <div>Order History</div>
            <div>Favorites Pizza Builds</div>
            <div>Account Info</div>
        </div>
    </main>

    <footer>
        <h2>All Rights Reserved</h2>
    </footer>
    
